h1, ul, p, dl, dt, dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.fonte-poppins-responsiva-grande {
  font-size: 2.875rem;
  line-height: 1.22;
  font-family: Poppins;
  max-width: 70ch;
}

.fonte-poppins-responsiva-media {
  font-size: 1.3125rem;
  line-height: 1.52;
  font-family: Poppins;
  max-width: 70ch;
}

@media (max-width: 720px) {
  .fonte-poppins-responsiva-grande {
    font-size: 1.875rem;
    line-height: 1.25;
    max-width: 50ch;
  }

  .fonte-poppins-responsiva-media {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 50ch;
  }
}

/* Estilizando elemento subir */
.subir {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--cor-s1);
}