.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
  margin-top: 6.25rem;
}

.js .main {
  opacity: 0;
  transform: translate3d(-20px, 0, 0);
  transition: .5s;
}

.js .main.animar {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@media (max-width: 720px) {
  .main {
    grid-template-columns: 1fr;
    margin-top: 3.125rem;
  }
}